{% extends 'index.html' %}

{% block content %}
<h1 style="color: #2bad81;">Power Consumption Data</h1>

<!-- Date Selection -->
<div class="d-flex flex-column flex-sm-row align-items-sm-center mb-3">
    <label for="start-date" class="me-2" style="color: #fbfeff;">Start Date:</label>
    <input type="date" id="start-date" class="form-control mb-2 mb-sm-0 me-sm-2">
    
    <label for="end-date" class="me-2" style="color: #fbfeff;">End Date:</label>
    <input type="date" id="end-date" class="form-control mb-2 mb-sm-0 me-sm-2">
    
    <button id="update-button" class="btn btn-primary">Update</button>
</div>

<h2 style="color: #2bad81;">Power Consumption<h2>
<div id="power-consumption-plot" class="power-consumption-plot"></div> 

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    // Function to set the default date
    function setDefaultDate() {
        const today = new Date();
        const yesterday = new Date(today); // Create a new date object for yesterday
        yesterday.setDate(today.getDate() - 1); // Subtract 1 day from today's date

        const formattedToday = today.toISOString().slice(0, 10); // Format today's date as 'YYYY-MM-DD'
        const formattedYesterday = yesterday.toISOString().slice(0, 10); // Format yesterday's date as 'YYYY-MM-DD'

        document.getElementById('start-date').value = formattedYesterday; // Set start-date to yesterday
        document.getElementById('end-date').value = formattedToday; // Set end-date to today

        updatePowerConsumptionData(formattedYesterday, formattedToday);
    }

    function updatePowerConsumptionData(startDate, endDate) {
        updatePlot('/power_consumption_data', 'power-consumption-plot', startDate, endDate);
    }

    // Set the default date and time when the page loads
    window.onload = setDefaultDate;

    document.getElementById('update-button').addEventListener('click', function() {
        let startDate = document.getElementById('start-date').value;
        let endDate = document.getElementById('end-date').value;

        if (!startDate) {
            startDate = new Date().toISOString().slice(0, 10);
            document.getElementById('start-date').value = startDate;
        }
        if (!endDate) {
            endDate = new Date().toISOString().slice(0, 10);
            document.getElementById('end-date').value = endDate;
        }

        updatePowerConsumptionData(startDate, endDate);
    });

    function updatePlot(url, plotId, startDate, endDate) {
        fetch(`${url}?start_date=${startDate}&end_date=${endDate}`)
            .then(response => response.json())
            .then(data => {
                console.log(data);
                const timestamps = data.map(record => new Date(record.timestamp));
                const power_consumption = data.map(record => record.power_consumption);
                console.log(power_consumption);
                const trace = {
                    x: timestamps,
                    y: power_consumption,
                    mode: 'lines+markers',
                    type: 'scatter'
                };

                const layout = {
                    title: {
                        text: 'Power Consumption Data',
                        x: 0, // Align to the left (0 = left, 0.5 = center, 1 = right)
                        xanchor: 'left' // Anchor the title to the left
                    },
                    xaxis: {
                        title: 'Time'
                    },
                    yaxis: {
                        title: 'Power Consumption (kWh)'
                    },
                    margin: {
                        l: 50, r: 10, t: 40, b: 40
                    }
                };

                Plotly.newPlot(plotId, [trace], layout);
            });
    }
</script>

<style>
    /* Ensure plots use full width */
    .power-consumption-plot {
        width: 100%;
        height: 350px; /* Default height */
    }

    /* Adjust the height for mobile devices */
    @media (max-width: 576px) {
        .power-consumption-plot {
            width: 100%;
            height: 350px; /* Increase height on mobile */
        }
    }

    /* Optional: Adjust height on tablets */
    @media (min-width: 576px) and (max-width: 768px) {
        .power-consumption-plot {
            width: 100%;
            height: 350px; /* Medium height for tablets */
        }
    }

    /* Adjust the height for large screens */
    @media (min-width: 768px) {
        .power-consumption-plot {
            width: 100%;
            height: 350px; /* Default height for larger screens */
        }
    }
</style>
{% endblock %}
