{% extends 'index.html' %}

{% block content %}
<script src="/static/js/power_consumption.js"></script>
<div class="container">
    <h1 style="color: #2bad81;">Power Consumption Data</h1>

    <!-- Date Selection -->
    <div class="d-flex flex-column flex-sm-row align-items-sm-center m-5">
        <label for="start-date" class="me-2" style="color: #fbfeff;">Start Date:</label>
        <input type="date" id="start-date" class="form-control mb-2 mb-sm-0 me-sm-2">
        
        <label for="end-date" class="me-2" style="color: #fbfeff;">End Date:</label>
        <input type="date" id="end-date" class="form-control mb-2 mb-sm-0 me-sm-2">
        
        <button id="update-button" class="btn btn-primary">Update</button>&nbsp;
    </div>
    
    <div id="power-consumption-plot" class="power-consumption-plot"></div> 
    
</div>
{% endblock %}
