{% extends 'index.html' %}

{% block content %}
<script src="/static/js/temperature.js"></script>
<div class="container">
    <h1 class="text-center" style="color: #2bad81;">Temperature Data</h1>

    <!-- Date Selection -->
    <br>

    <div class="row g-3 align-items-center justify-content-center">
        <div class="col-12 col-sm-4">
            <label for="start-date" class="form-label" style="color: #fbfeff;">Start Date:</label>
            <input type="date" id="start-date" class="form-control">
        </div>
        <div class="col-12 col-sm-4">
            <label for="end-date" class="form-label" style="color: #fbfeff;">End Date:</label>
            <input type="date" id="end-date" class="form-control">
        </div>
        <div class="col-12 col-sm-2 d-grid">
            <button id="update-button" class="btn btn-primary w-100 mt-2 mt-sm-0">Update</button>
        </div>
    </div>

    <h2 class="mt-4" style="color: #2bad81;">Inside Temperature</h2>
    <div id="inside-temperature-plot" class="temperature-plot"></div>

    <h2 class="mt-4" style="color: #2bad81;">Outside Temperature</h2>
    <div id="outside-temperature-plot" class="temperature-plot"></div>
</div>
{% endblock %}
